.appWrapper {
  min-height: 100vh;
  background-color: #fbfbfb;
}

.mainContent {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  .mainContent {
    padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  .mainContent {
    padding: 0 64px;
  }
}