.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0 auto 64px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  width: 100%;
}




.loadMoreBtn {
  padding: 14px 40px;
  background-color: #54be96;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loadMoreBtn:hover {
  background-color: #36a379;
}



.filterSection {
  align-self: flex-start; 
  width: 100%;
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 32px;
}